@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .bg-scroll {
    background-attachment: scroll;
  }

@font-face {
  font-family: "cinnamonextrabold";
  src: url("/Mont-HeavyDEMO.otf");
}
@font-face {
  font-family: "cinnamonsemibold";
  src: url("/Mont-SemiBold.otf");
}
@font-face {
  font-family: "cinnamonbold";
  src: url("/Mont-Bold.otf");
}
@font-face {
  font-family: "cinnamonextralight";
  src: url("/Mont-ExtraLightDEMO.otf");
}